{% extends 'base.html.twig' %}

{% block title %}Air : home{% endblock %}

{% block body %}
    {% include 'includes/header.html.twig' %}
    <main class="main">
    {% block main %}
        <div class="display-box">
            <h1>Bienvenu sur Air</h1>
            <h2>Naviguez pour voir les destinations disponibles</h2>
            <figure class="home-img">
                <img src="imgs/home.png" alt="Aeroport">
            </figure>
        </div>
    
    {% endblock %}
    </main>
{% endblock %}

